.clear-button {
  font: 14px sans-serif;
  cursor: pointer;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.brush2 .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.brush1 .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.container {
  float: bottom;
}

.yLoad line,
.yLoad path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.yLoad text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

.yNetload line,
.yNetload path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.yNetload text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

.yGen line,
.yGen path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.yGen text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}
